*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/release/output.json
gradle.properties
gradlew
gradlew.bat        
settings.gradle
app/.gitignore
app/app-release.apk
app/proguard-rules.pro
